# Data Collection

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("data/IRAhandle_tweets_1.csv")

In [4]:
data

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243886,2497991305,AUSTINLOVESBEER,BREAKING: Killer avalanche sweeps three skiers...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,173,...,Right,1,RightTroll,0,2497991305,839400198002503680,http://twitter.com/2497991305/statuses/8394001...,https://twitter.com/Daily_Star/status/83938477...,http://bit.ly/2lWNDnt,NaN
243887,2497991305,AUSTINLOVESBEER,Why men should support International Women‚Äôs D...,United States,English,3/8/2017 8:59,3/8/2017 9:00,41,34,175,...,Right,1,RightTroll,0,2497991305,839400290168135680,http://twitter.com/2497991305/statuses/8394002...,http://trib.al/xiMs3md,NaN,NaN
243888,2497991305,AUSTINLOVESBEER,How we can rebuild trust in a UK divided by in...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,170,...,Right,1,RightTroll,0,2497991305,839400090582179840,http://twitter.com/2497991305/statuses/8394000...,http://trib.al/l3iyCVF,NaN,NaN
243889,2497991305,AUSTINLOVESBEER,John Humphrys accused of patronising Angela Ra...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,171,...,Right,1,RightTroll,0,2497991305,839400131325648896,http://twitter.com/2497991305/statuses/8394001...,http://bit.ly/2m0OQL7,NaN,NaN
243890,2497991305,AUSTINLOVESBEER,Fossilized poop found in 180-million-year-old ...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,174,...,Right,1,RightTroll,0,2497991305,839400253413437440,http://twitter.com/2497991305/statuses/8394002...,http://dailym.ai/2lV5BXf,NaN,NaN

In [5]:
len(data)

243891

In [6]:
split = data.head(10000)

In [7]:
english_data = split[split['language'] == "English"]

In [8]:
filtered_no_questions = english_data[~english_data['content'].str.contains('\?')]

In [9]:
len(filtered_no_questions)

4802

In [10]:
filtered_no_questions.to_csv("data/filtered_data.tsv", sep="\t")

# Data Annotation

In [11]:
annotated_data = filtered_no_questions.copy()

In [12]:
annotated_data.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN

In [13]:
annotated_data['trump_mention'] = annotated_data['content'].str.contains('[^a-zA-Z0-9]Trump[^a-zA-Z0-9]')

In [14]:
annotated_data.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1,trump_mention
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN,False
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN,True
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN,False
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN,True
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN,False

In [15]:
len(annotated_data)

4802

In [16]:
annotated_data.to_csv("data/annotated_data.tsv", sep="\t")

# Analysis

In [17]:
percentages = annotated_data['trump_mention'].value_counts(normalize=True).mul(100).round(3).astype(str)+'%'

In [18]:
percentages

trump_mention
False    97.834%
True      2.166%
Name: proportion, dtype: object

In [19]:
value = percentages.loc[True]
value

'2.166%'

In [20]:
d = {'result': ['frac-trump-mentions'], 'value': [value] }

In [21]:
results = pd.DataFrame(data=d)

In [22]:
results = results.reset_index(drop=True)

In [23]:
results

                result   value
0  frac-trump-mentions  2.166%

In [24]:
results.to_csv("results.tsv", sep="\t")

In [25]:
annotated_data['trump_mention'].value_counts()

trump_mention
False    4698
True      104
Name: count, dtype: int64

In [26]:
annotated_data.pivot_table(index = ['content'], aggfunc= 'size')

content
"#Weed didn't ruin my life. Getting caught with weed ruined my life."  http://t.co/K5INUiku8V http://t.co/AJntLl0Szw                        1
"...so we gon' fight, all day and night, until we get it right." #FireServinNow  Our #SayHerName action is today! http://t.co/uBFYom6wBO    1
"4 police officers murdered in the last 11 months that's about as bad as it gets."   Worse than 956 killed by police #NYPD                  1
"According to the FBI‚Äôs Uniform Crime Report, white Americans are responsible for 69.3 percent of crime." https://t.co/MzfmMt0MJj           1
"But what about black on black crime,"the egg tweets in defiance. Triumphant in his victory. He screenshots his newly achieved block        1
                                                                                                                                           ..
ÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ https://t.co/YfOefe99nf                                                                                                          1
ÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ #acab #cops #PoliceBrutality #BlackLivesMatter #blackpeopletwitter http://t.co/oaNV0lRoHu                                1
ÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩÔøΩ https://t.co/i4ct8bOKFT                                                                                           1
üêùüêùüêù https://t.co/MorL3AQW0z                                                                                                                 1
üòÇ https://t.co/rBDH8K2fxH                                                                                                                   1
Length: 4779, dtype: int64